
body {
	margin: 0 auto;
  text-align: center;
}

.main-container {
  margin: 10px;
  padding: 20px;
  height: 500px;
  width: 100%;
	display: flex;
	justify-content: center;
	  align-items: center;
}

    .menu-container {
      height: 330px;
      width: 250px;
      align-items: center
    }


#namebutton {
					margin: 0 auto;
					border-radius: 10px;
					color: #ffffff;
				  background-color: #bc3b69;
					font-size: 10px;
					padding: 10px;
				}

				#namebutton:hover {
				  -webkit-transform: scale(1.1);
				  background: #882b4b;
				  }


.start {
	margin: 0 auto;
	border-radius: 10px;
	color: #ffffff;
  background-color: #bc3b69;
	font-size: 20px;
	padding: 20px;
}

.start:hover {
  -webkit-transform: scale(1.1);
  background: #882b4b;
  }

.header .moves {
	width: 200px;
  display: inline-block;
  font-size: 34px;
}

.container {
  width: 500px;
}

.container .ficha {
	display: inline-flex;
	width: 100px;
	height: 142px;
	margin: 5px;
	transition: .40s;
	-webkit-transform-style: preserve-3d;

}
.container .ficha .cara {
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	z-index: 2;
}

.container .ficha .logo {
	background: url(adalogo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 1;
}
.container .ficha .back {
	transform: rotateY(-180deg);
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
}

.flip, .fliped {
	transform: rotateY(180deg);
	transition: .40s;
}

.ganador {
	position: fixed;
	width: 430px;
	height: 250px;
	border: 15px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	color: #bc3b69;
  border-style: solid;
  border-color: #882b4b;
	z-index: 100;
}

.perdedor {
	position: fixed;
	width: 430px;
	height: 250px;
	border: 15px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	color: #bc3b69;
  border-style: solid;
  border-color: #882b4b;
	z-index: 100;
}

.anuncio {
	font-size: 45px;
	margin: 10px;
}

.scr_move {
	display: inline-flex;
	font-size: 27px;
	margin: 10px;
}

.again {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #bc3b69;
  border: 0px;
  color: #fff;
  font-size: 25px;
  }


.again:hover {
  -webkit-transform: scale(1.1);
  background: #882b4b;
  }
